.background-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh; }
  .background-wrapper .ripple {
    position: absolute;
    background: url(../creative/ripple.png) no-repeat;
    background-size: cover;
    width: 960px;
    height: 900px;
    margin-left: 220px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0; }
