.homepage-content {
  position: relative;
  width: 1438px;
  height: 3215px;
  background: url(../creative/homepage/homepage-content.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 64px; }
