header {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  top: 36px;
  background: #fff;
  font-size: 16px;
  letter-spacing: .4px;
  z-index: 999999; }
  header .primary-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1248px; }
    header .primary-nav .jv-logo {
      position: relative;
      display: flex;
      flex-direction: row; }
      header .primary-nav .jv-logo .logo-johnathan-mask {
        position: relative;
        width: 107px;
        height: 22px;
        overflow: hidden;
        margin-left: 44px; }
        header .primary-nav .jv-logo .logo-johnathan-mask .logo-johnathan {
          position: relative;
          width: 107px;
          height: 22px; }
      header .primary-nav .jv-logo .logo-valencia-mask {
        position: relative;
        width: 87px;
        height: 22px;
        overflow: hidden;
        margin-left: 1px; }
        header .primary-nav .jv-logo .logo-valencia-mask .logo-valencia {
          position: relative;
          width: 87px;
          height: 22px; }
      header .primary-nav .jv-logo .logo-end-mask {
        position: relative;
        width: 4px;
        height: 22px;
        overflow: hidden;
        margin-left: 1px; }
        header .primary-nav .jv-logo .logo-end-mask .logo-end {
          position: relative;
          width: 4px;
          height: 22px; }
