#fp-nav { display: none !important; }

// .hero-bg-wrapper { position: absolute; background: #14181D; width: 100vw; height: 100vh; margin-top: 64px;
//   .hero-bg-slide-1 { position: absolute; background: url(../creative/homepage/hero-slide-1.jpg) no-repeat; background-size: cover; background-position:center center; width: 100%; height: 100%;
//     .hero-ul-logo { position: absolute; background: url(../creative/homepage/hero-ul-logo.png) no-repeat; background-size: cover; top: 18%; left: -48px; width: 212px; height: 212px; margin-top: -106px;
//       @include respond-to(tablet-w)  { top: 26%; left: -88px; width: 354px; height: 354px; margin-top: -176px; }
//       @include respond-to(desktop-1280)  { top: 46%; left: auto; right: -108px; width: 482px; height: 482px; margin-top: -241px; }
//     }
//   }
//   .hero-bg-slide-2 { display: none; position: absolute; background: url(../creative/homepage/hero-slide-2.jpg) no-repeat; background-size: cover; background-position:center center; width: 100%; height: 100%; }
//   .hero-bg-slide-3 { display: none; position: absolute; background: url(../creative/homepage/hero-slide-3.jpg) no-repeat; background-size: cover; background-position:center center; width: 100%; height: 100%; }
//   .hero-bg-slide-4 { display: none; position: absolute; background: url(../creative/homepage/hero-slide-4.jpg) no-repeat; background-size: cover; background-position:center center; width: 100%; height: 100%; }
//   .hero-bg-slide-5 { display: none; position: absolute; background: url(../creative/homepage/hero-slide-5.jpg) no-repeat; background-size: cover; background-position:center center; width: 100%; height: 100%; }
// }

// .hero-content { opacity: 0; position: relative; width: 100%; padding: 0 15px; display: flex; justify-content: center;
//   @include respond-to(tablet-w)  { padding: 0 40px; }
//   @include respond-to(desktop-1280)  { padding: 0 80px; }
//   @include respond-to(desktop-1400)  { padding: 0 160px; }
//   .content { display: flex; justify-content: space-between; flex-direction: column; align-items: center; width: 100%; max-width: 1600px;
//     @include respond-to(tablet-w)  { align-items: flex-start; }
//     @include respond-to(desktop-1280)  { flex-direction: row; align-items: center; }
//     .title { font-size: 42px; line-height: 54px; font-weight: 700; color: #fff;
//       @include respond-to(tablet-w)  { font-size: 64px; line-height: 72px; }
//     }
//     p { padding-top: 16px; font-size: 14px; line-height: 24px; font-weight: 400; margin: 0; color: #fff;
//       @include respond-to(tablet-w)  { padding-top: 24px; font-size: 18px; line-height: 28px; }
//     }
//     a:link { text-decoration: none; }
//     a:visited { text-decoration: none; }
//     a:hover { text-decoration: none; }
//     a:active { text-decoration: none; }
//     .cta { display:flex; justify-content: center; align-items: center; position: relative; background: #fff; border-radius: 21px; width: 160px; height: 42px; margin-top: 24px; font-size: 14px; font-weight: 700; color: $font-color-secondary; cursor: pointer; height: max-content; padding: 12px;
//       @include respond-to(tablet-w)  { margin-top: 32px; }
//     }
//     .max-width-slide-1 { position: relative; width: 100%; margin-top: 80px;
//       @include respond-to(tablet-w)  {  margin-top: 264px; }
//       @include respond-to(desktop-1280)  { width: auto; margin-top: 0px; }
//       .title { max-width: 436px; }
//       p { max-width: 276px; }
//     }
//     .max-width-slide-2, .max-width-slide-3, .max-width-slide-4 { position: relative;
//       .title { max-width: 444px; }
//       p { max-width: 426px; }
//     }
//     .max-width-slide-5 { position: relative;
//       .title { font-size: 24px; line-height: 32px; max-width: 600px;
//         @include respond-to(tablet-w)  { font-size: 36px; line-height: 48px; }
//       }
//       p { max-width: 426px; }
//     }
//     .img-slide { margin-top: 40px;
//       @include respond-to(tablet-w)  { margin-top: 72px; }
//       @include respond-to(desktop-1280)  { margin-top: 0px; }
//     }
//     .img-slide-2 { position: relative; background: url(../creative/homepage/img-slide-2.png) no-repeat; background-size: contain; width: 80%; height: 180px;
//       @include respond-to(tablet-w)  { width: 530px; height: 200px; }
//     }
//     .img-slide-3 { position: relative; background: url(../creative/homepage/img-slide-3.png) no-repeat; background-size: contain; width: 80%; height: 180px;
//       @include respond-to(tablet-w)  { width: 460px; height: 210px; }
//     }
//     .img-slide-4 { position: relative; background: url(../creative/homepage/img-slide-4.png) no-repeat; background-size: contain; width: 80%; height: 180px;
//       @include respond-to(tablet-w)  { width: 776px; max-width: 668px; height: 308px; }
//       @include respond-to(desktop-1280)  { width: 776px; max-width: 776px; }
//     }
//     .img-slide-5 { position: relative; background: url(../creative/homepage/img-slide-5.jpg) no-repeat; background-size: contain; width: 80%; height: 180px;
//       @include respond-to(tablet-w)  { width: 482px; height: 271px; }
//     }
//   }
// }

// .hero-nav-items { position: absolute; bottom: 32px; width: 100%; max-width: 1680px; margin-left: 15px; padding-right: 30px; display: flex; justify-content: center;
//   @include respond-to(tablet-w)  { margin-left: 40px; padding-right: 80px; }
//   @include respond-to(tablet-w)  { bottom: 40px; }
//   @include respond-to(desktop-1280)  { bottom: 36px; }
//   .skip { position: absolute; color: #fff; font-size: 12px; font-weight: 700; left: 0px; cursor: pointer;
//     @include respond-to(tablet-w)  { font-size: 16px; }
//     a:link { text-decoration: none; color: #fff; }
//     a:visited { text-decoration: none; color: #fff; }
//     a:hover { text-decoration: none; color: #fff; }
//     a:active { text-decoration: none; color: #fff; }
//   }
//   .arrow { position: relative; font-size: 24px; color: #fff; }
// }

// .skip-btn { position: absolute; width: 100%; bottom: 44px; display: flex; justify-content: center;
//   @include respond-to(tablet-w)  { bottom: 44px; }
//   .skip { position: relative; width: 100%; max-width: 1680px; color: #fff; font-size: 12px; font-weight: 700; left: 0px; padding-left: 15px; cursor: pointer;
//     @include respond-to(tablet-w)  { font-size: 16px; padding-left: 40px; }
//     a:link { text-decoration: none; color: #fff; }
//     a:visited { text-decoration: none; color: #fff; }
//     a:hover { text-decoration: none; color: #fff; }
//     a:active { text-decoration: none; color: #fff; }
//   }
// }

// .down-arrow { position: absolute; bottom: 32px;
//   @include respond-to(tablet-w)  { bottom: 40px; }
//   @include respond-to(desktop-1280)  { bottom: 36px; }
//   .arrow { position: relative; font-size: 24px; color: #fff; cursor: pointer;
//   }
// }

// #fp-nav { -webkit-user-select: none; position: absolute !important; bottom: 16px; margin-top: 0px !important; top: auto !important; right: -8px !important;
//   @include respond-to(tablet-w)  { bottom: 20px; right: 24px !important;  }
// }

// #fp-nav ul li, .fp-slidesNav ul li { margin: 24px !important; }

// #fp-nav ul li a span, .fp-slidesNav ul li a span { width: 8px !important; height: 8px !important; background: #fff !important; opacity: .5; }

// #fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span { width: 12px !important; height: 12px !important; margin: -4px 0 0 -4px !important; opacity: 1; }

// #fp-nav ul li:last-child, .fp-slidesNav ul li:last-child { display:none !important; }
