.hero-content { position: relative; width: 100%; display: flex; justify-content: center;
    .content { display: flex; width: 100%; max-width: 1160px; 
        .intro { position: relative; padding-right: 80px; }
        .case-study { position: relative; width: 536px; 
            h3 { margin-bottom: 56px; }
            .cta { position: relative; cursor: pointer; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 100%; transition: background-size 0.25s ease-out;
                &:hover { background-size: 100% 50%; }
            }
        }
        .capabilities { display: flex; flex-direction: row; justify-content: space-between; position: relative; width: 100%;
            .three-split { max-width: 336px; 
                h3 { margin-top: 8px; }
            }
        }
        .character { position: relative;
            .segmented-control { position: relative; padding-bottom: 16px;
                .tab { position: relative; margin-right: 40px; cursor: pointer; }
                .tab.one { position: relative; background-image: linear-gradient(0deg,rgba(30,36,43, 1) 0%,rgba(30,36,43, 1) 100%); background-repeat: no-repeat; background-size: 100% 1px; background-position: 0 100%; transition: background-size 0.25s ease-out; }
                .tab.two { position: relative; cursor: pointer; opacity: .5; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 110%; transition: all 0.25s ease-out;
                    &:hover { background-size: 100% 50%; opacity: 1; }
                }
            }
            .tabOne {
                h3 { padding-top: 40px; }
            }
        }
        .collaboration { position: relative;

        }
        .contact { position: relative;

        }
    }
}

