.hero-content { position: relative; width: 100%; display: flex; justify-content: center; opacity: 0;
    .content { display: flex; width: 100%; max-width: 1160px; 
        .intro { position: relative; padding-right: 80px; }
        .case-study { position: relative; width: 536px; 
            h3 { margin-bottom: 56px; }
            .cta { position: relative; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 100%; transition: background-size 0.25s ease-out;
                &:hover { background-size: 100% 50%; }
            }
            .cta-btn { position: relative; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 100%; transition: background-size 0.25s ease-out;
                &:hover { background-size: 100% 0em; }
            }
        }
        .capabilities { display: flex; flex-direction: row; justify-content: space-between; position: relative; width: 100%;
            .three-split { max-width: 336px; 
                h3 { margin-top: 8px; }
                .gif-wrapper { position: absolute; top: 80px; left: -40px; width: 336px; height: 300px; }
                .list { display: flex; flex-direction: column; position: relative; max-width: 288px; margin-top: 32px;
                    .list-item { display: flex; flex-direction: row; justify-content: space-between; position: relative; width: 100%; padding: 16px 0; border-bottom: 2px solid $cloud-grey-color; transition: all 0.25s ease-out;
                        .bullet { opacity: .2; transition: all 0.25s ease-out; }
                        &:hover { background: #FAFBFE; border-bottom: 2px solid #40ACE4; }
                        &:hover .bullet { opacity:1 }
                    }
                    .hotspot { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; }
                }
            }
        }
        .character { position: relative; width: 100%;
            .segmented-control { display: flex; justify-content: space-between; position: relative; padding-bottom: 16px;
                .tab { position: relative; margin-right: 40px; cursor: pointer; }
                .tab { background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 100%; background-position: 0 100%; transition: all 0.25s ease-out; }
                .not-selected { opacity: .5; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 100%; transition: all 0.25s ease-out;
                    &:hover { background-size: 100% 50%; opacity: 1; }
                }
                #arrows { display: none; position: relative; margin-right: 4px; 
                    .arrowBox { display: flex; justify-content: center; align-items: center; position: relative; width: 14px; height: 27px; padding: 0 16px; opacity: .5; transition: opacity 0.25s ease-out; cursor: pointer;
                        img { width: 7px; height: 18px; }
                        &:hover { opacity: 1; }
                    }
                }
            }
            #tabOne { display: block; height: 324px;
                h3 { padding-top: 40px; }
            }
            #tabTwo { display: none; flex-direction: row; justify-content: space-between; position: relative; width: 200%; height: 324px; padding-top: 40px;
                .reference { display: flex; flex-direction: row; justify-content: space-between; position: relative; max-width: 360px; height: max-content; background: #FFFFFF; border: 2px solid #E8ECF1; box-shadow: 0 20px 40px -10px #E8ECF1; padding: 28px 22px; }
            }
        }
        .collaboration { position: relative;
            h3:nth-child(3) { padding-top: 32px; }
            .collaboration-logo-wrapper { position: relative; width: 100%; height: 264px; margin: 20px 0 0 -24px;
                .collaboration-logos { display: flex; flex-direction: column; align-items: center; align-content: space-around; justify-content: space-between; flex-wrap: wrap; position: absolute; width: 100%; height: 558px;
                    @include respond-to(tablet) {flex-direction: row; height: auto; padding: 0 24px; }
                    @include respond-to(desktop-1024) { padding: 0 28px; }
                    @include respond-to(desktop-1280) {padding: 0; height: 100%; }
                    img { justify-content: center; max-height: 32px; max-width: 60px; width: auto; margin: 0 16px 40px;
                        @include respond-to(tablet) { max-height: 48px; max-width: 80px; margin: 0 28px 56px; }
                        @include respond-to(desktop-1024) { max-height: 64px; max-width: 106px; margin: 0 40px 72px; }
                        @include respond-to(desktop-1280) { max-height: 48px; max-width: 88px; max-height: 7%; max-width: 10%; margin: 24px 24px 0; /*margin: 0;*/ opacity: 1; transition: opacity 0.25s ease-out; }
                        &:hover { opacity: 1; }
                    }
                }
            }
        }
        .contact { position: relative;
            .contact-form { width: 400px; padding-top: 24px;
                .form-block { position: relative; }
                .error { border: solid 2px #ef4f53; }
                .cross, .check { position: absolute; top: 11px; right: -4px; border-radius: 50%; width: 16px; height: 16px; background-size: 50%; padding: 4px; background-repeat: no-repeat; background-position: 50% 50%; transform: translate(-50%, -50%);
                    @include respond-to(tablet-w) { top: 50%; right: -48px; width: 26px; height: 26px; }
                }
                // .cross { background-color: #ef4f53; background-image: url(https://wayfinder-ux.com/img/contact/close.svg); }
                // .check { background-color: #4ba8f4; background-image: url(https://wayfinder-ux.com/img/contact/checkMark.svg); }
                input { color: $dark-color; width: 100%; height: 42px; margin: 8px 0 24px; font-family: 'Poppins', sans-serif; font-size: 16px; padding-left: 12px; font-weight: 400; border: 2px solid $cloud-grey-color; border-radius: 5px; }
                textarea { width: 100%; min-width: 100%; height: 144px; max-height: 144px; margin: 8px 0 32px; font-family: 'Poppins', sans-serif; font-size: 16px; padding: 12px; font-weight: 400; border: 2px solid $cloud-grey-color; border-radius: 5px; }
                button { position: relative; border: 0px; width: max-content; background: #fff; font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: 400; color: $dark-color; padding: 0; background-image: linear-gradient(0deg,rgba(64,172,228, 0.20) 0%,rgba(64,172,228, 0.20) 100%); background-repeat: no-repeat; background-size: 100% 0.1em; background-position: 0 100%; transition: background-size 0.25s ease-out; cursor: pointer; 
                    &:hover { background-size: 100% 50%; }
                    &:focus { outline: none; }
                }
            }
        }
    }
}

footer { display: flex; justify-content: center; align-items: center; position: absolute; width: 100%; height: 50px; bottom: 0px; display: none;
    .footer-bg { position: absolute; width: 100%; height: 100%; background-color: $cloud-grey-color; opacity: .5;  }
    .copyright { position: relative; width: 1160px; max-width: 1160px; font-size: 14px; font-weight: 500; opacity: 1; }
}