* { -webkit-tap-highlight-color: rgba(0,0,0,0); box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-font-smoothing: antialiased; }

body { -webkit-touch-callout: none; -webkit-text-size-adjust: none; font-family: 'Poppins', sans-serif; font-weight: 400; color: #1E242B; font-size: 18px; background-color:#fff; margin: 0px; }

:root { cursor: none;  }

$dark-color: #1E242B;
$brand-color: #40ACE4;
$cloud-grey-color: #E8ECF1;