header { position: fixed; display: flex; justify-content: center; width: 100vw; font-size: 16px; padding: 20px 20px; z-index: 999999;
    @include respond-to(tablet) { padding: 36px 32px; }
    @include respond-to(desktop-1280) { padding: 36px 24px 0; }
    @include respond-to(desktop-1366) { padding: 36px 56px 0; }
    @include respond-to(desktop-1536) { padding: 36px 0 0; }
    .primary-nav { position: relative; display: flex; flex-direction: row; justify-content: space-between; width: 100%; max-width: 1344px;
        .jv-logo { position: relative; display: flex; flex-direction: row; width: 244px; padding-top: 3px;
            @include respond-to(tablet) { padding-top: 0; }
            .logo-johnathan-mask { position: relative; width: 107px; height: 22px; overflow: hidden; margin-left: 2px;
                @include respond-to(desktop-1280) { margin-left: 44px; }
                .logo-johnathan { position: relative; width: 107px; height: 22px; }
            }
            .logo-valencia-mask { position: relative; width: 87px; height: 22px; overflow: hidden; margin-left: 1px; 
                .logo-valencia { position: relative; width: 87px; height: 22px; }
            }
            .logo-end-mask { position: relative; width: 4px; height: 22px; overflow: hidden; margin-left: 1px; 
                .logo-end { position: relative; width: 4px; height: 22px; }
            }
        }
        .menu { display: none; position: relative; width: 28px; height: 18px; margin-top: 2px; cursor: pointer;
            .line { position: absolute; width: 28px; height: 3px; border-radius: 2px; background: var(--dark-color); }
            .anchor { width: 24px; top: 7.5px; right: 0px; }
            .bottom { bottom: 0px; }
            .hover-area { position: absolute; width: 100%; height: 100%; top: 0px; }
        }
        .menu-items { display: flex; flex-direction: column; align-items: flex-end; position: absolute; top: 60px; right: -8px; opacity: 0; display: none;
            button { display: flex; justify-content: center; align-items: center; position: relative; border: 0px; width: max-content; height: 36px; background-color: #40ACE4; box-shadow: 0 16px 32px -8px rgba(146,166,191,0.35); font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 500; letter-spacing: .2px; color: #fff; padding: 0 24px; border-radius: 18px; margin-bottom: 24px; transition: background-color 0.1s ease-out; cursor: pointer; 
                &:focus { outline: none; }
                &:hover { color: #fff; background-color: darken(#40ACE4, 40%); box-shadow: 0 16px 32px -8px rgba(64,172,228,0.35); }
            }
        }
    }
}