.leadership-team { position: relative;
    .hero-absolute {
        @include respond-to(tablet) { height: 740px; }  
    }
    .hero_leadership { display: none; position: relative; width: 100%; height: 100%; background: url(../app/creative/images/element-leadership.svg) no-repeat; background-size: cover; margin-top: -80px; opacity: .3;
        @include respond-to(tablet) { margin-top: -144px; }
    }

    .cards_leadership-team { display: flex; flex-wrap: wrap; position: relative; padding: 24px 20px;
        @include respond-to(tablet) { margin-left: -16px; margin-right: -16px; padding: 24px 0; }
        .card { position: relative; flex: 0 0 100%; max-width: 100%; padding-left: 0; padding-right: 0; margin-bottom: 32px;
            @include respond-to(tablet) { flex: 0 0 33.3%; max-width: 33.3%; }
            .card-body { display: flex; flex-direction: column; position: relative; height: 100%; 
                .img-wrapper { position: relative; width: 100%; height: auto; vertical-align: top; overflow: hidden;
                    @include respond-to(tablet) { transform: scale(1.04); }
                    .img { position: relative; top: 0px; left: 0px; width: 100%; @include aspect-ratio(10, 10); overflow: hidden;
                        @include respond-to(tablet) { border-radius: 50%; }
                        img { position: absolute; width: 100%; height: auto; height: 100%; top: 0px; object-fit: cover; }
                    }
                }
                .info { position: relative; display: flex; flex-direction: column; padding: 16px 0;
                    @include respond-to(tablet) {  align-items: center; padding: 32px 0; }
                    div { font-size: 16px; line-height: normal;
                        & > div:first-child { font-weight: 700; padding-bottom: 1px; }
                    }
                }
            }
            &:first-child, &:nth-child(2), &:nth-child(3) { 
                @include respond-to(tablet) { margin-bottom: 0; }
                .card-body {  
                    @include respond-to(tablet) { flex-direction: column-reverse; }
                }
             }
        }
    }
    .board-of-trustees {
        h1 { padding-bottom: 32px; 
            @include respond-to(tablet) { text-align: center; }
        }
    }

    .board-of-trustees-gallery {
        .content { padding-top: 0 !important; padding-bottom: 0 !important; }
        .cards_news-gallery { display: flex; flex-wrap: wrap; position: relative; margin-top: -24px; padding-bottom: 24px; width: 100%;
            @include respond-to(tablet) { margin-left: -16px; margin-right: -16px;  }
            .card { position: relative; flex: 0 0 100%; max-width: 100%; padding-left: 16px; padding-right: 16px; margin-bottom: 32px;
                @include respond-to(tablet) { flex: 0 0 33.3%; max-width: 33.3%; }
                .card-body { display: flex; flex-direction: column; position: relative; height: 100%; overflow: hidden; 
                    .img-wrapper { position: relative; width: 100%; height: auto; vertical-align: top; overflow: hidden;
                        .img { position: relative; top: 0px; left: 0px; width: 100%; height: auto; overflow: hidden;
                            img { width: 100%; height: auto; height: 100%; object-fit: cover; }
                        }
                    }
                    .info { display: flex; flex-direction: column; justify-content: space-between; flex-grow: 1; width: 100%; padding: 12px 0 0; color: #fff;
                        div { font-size: 16px; line-height: normal;
                            & > div:first-child { font-weight: 700; padding-bottom: 1px; }
                        }
                    }
                }
            }
        }
    }

    footer { padding-top: 0; }
}